# Build
build/
build-*/

# Visual Studio
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.user
*.suo

# VSCode
.vscode/

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
cpm-package-lock.cmake

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.sln
*.user
*.obj
*.pdb
*.idb
*.aps
*.ncb
*.suo
*.ipch
*.log
*.tlog
*.vs/

# GTest artifacts (opcional)
tests/tests_runner*

# Logs
*.log
/app.log

# Backup
*~
*.swp
*.bak
